@model Moov2.Orchard.Hero.Models.HeroPart

@{
    Script.Require("HeroJs");

    Style.Require("jQueryColorBox");
}

<hr />

<h2>@T("Hero")</h2>

<div class="hint" style="margin-bottom: 1em;">
    @Html.Raw(Model.Hint)
</div>

<p><a href="#" class="js-open-media-library">@T("Generate HTML from Media")</a></p>

<input type="hidden" class="js-hero-breakpoints" value="@Model.Breakpoints" />

<fieldset>
    @Display.Body_Editor(Text: Model.Html, EditorFlavor: "Html", Required: false, AutoFocus: false, ContentItem: Model.ContentItem)
    @Html.ValidationMessageFor(m => m.Html)
</fieldset>