@model Moov2.Orchard.Hero.Models.HeroPart

@{
    Script.Require("HeroJs");

    Style.Require("jQueryColorBox");
}

<h2>@T("Hero")</h2>

<p><a href="#" class="js-open-media-library">@T("Create from Media")</a></p>

<fieldset>
    <label>@T("Html")</label>
    @Display.Body_Editor(Text: Model.Html, EditorFlavor: "Html", Required: false, AutoFocus: false, ContentItem: Model.ContentItem)
    @Html.ValidationMessageFor(m => m.Html)
</fieldset>